{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ survey.title }}</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="survey-title">{{ survey.title }}</h1>
        <p class="survey-description">{{ survey.description }}</p>
        <h2>質問一覧</h2>
        <form method="post" action="{% url 'polls:survey_vote' survey.pk %}" class="survey-form">
            {% csrf_token %}
            <ul class="question-list">
                {% for question in survey.questions.all %}
                    <li class="question-item">
                        <strong class="question-title">{{ question.question_text }}</strong>
                        <ul class="choice-list">
                            {% if question.answer_type.name == 'single_choice' %}
                                {% for choice in question.choices.all %}
                                    <li class="choice-item">
                                        <label>
                                            <input type="radio" name="question_{{ question.id }}" value="{{ choice.pk }}">
                                            {{ choice.choice_text }}
                                        </label>
                                    </li>
                                {% empty %}
                                    <li class="choice-item">選択肢がありません。</li>
                                {% endfor %}
                            {% elif question.answer_type.name == 'multiple_choice' %}
                                {% for choice in question.choices.all %}
                                    <li class="choice-item">
                                        <label>
                                            <input type="checkbox" name="question_{{ question.id }}" value="{{ choice.pk }}">
                                            {{ choice.choice_text }}
                                        </label>
                                    </li>
                                {% empty %}
                                    <li class="choice-item">選択肢がありません。</li>
                                {% endfor %}
                            {% elif question.answer_type.name == 'text' %}
                                <li class="choice-item">
                                    <textarea name="question_{{ question.id }}" rows="3" cols="40" placeholder="ご自由にご記入ください" class="googleform-textarea"></textarea>
                                </li>
                            {% else %}
                                <li class="choice-item">この設問タイプには未対応です。</li>
                            {% endif %}
                        </ul>
                    </li>
                {% empty %}
                    <li class="question-item">質問がありません。</li>
                {% endfor %}
            </ul>
            <button type="submit" class="vote-button">投票</button>
        </form>
    </div>
</body>
</html> 
